# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Aa]sset[Ss]tore[Tt]ools/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db
desktop.ini

# Rider
.idea/

# Builds
*.apk
*.aab
*.unitypackage
*.app
